body {
    background-color: rgb(255, 251, 235);
}

#obstacle-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease, top 0.3s ease;
}

#rule {
    margin: auto;
    width: 70%;
    border: thin;
    border-radius: 10px;
    box-shadow: 5px 5px;
    background-color: rgb(230, 216, 191);
}

#rule: hover {
    transition: scale(1.1) 0.2s;
}
