body {
    background-color: rgb(255, 251, 235);
}

#obstacle-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease, top 0.3s ease;
}

.nav-link {
    margin: auto;
}

.nav-link:hover {
    font-weight: 500;
    margin-top: 3px;
    border-bottom: solid 3px;
}

textarea[id=enter-password] {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 40%;
    min-height: 3px;
    resize: none; /** Removes resize handle **/
    box-sizing: border-box;
    padding: 5px;
    font-size: 40px;
    border-radius: 5px;
    overflow: hidden; /** Hide scroll bar **/
}

input[type=submit] {

}

div[id=rule] {
    transition: 0.3s;
    scale: 1;
    margin: auto;
    width: 60%;
    border: thin;
    border-radius: 10px;
    box-shadow: 5px 5px;
    background-color: rgb(230, 216, 191);
}

div[id=rule]:hover {
    transition: 0.3s;
    scale: 1.05;
}

h3[id=rule-title] {
    padding: 2%;
}
