{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg text-muted bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="margin-left: -1%;">
            <img src="{{ url_for('static', filename='logo.jpg') }}" width="60" height="60" class="d-inline-block align-top" alt="logo">
        </a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link mx-4 text-light" href="{{ url_for('home') }}">Home</a>
            {% if 'user' in session %}
                <a class="nav-link mx-4 text-light" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                <a class="nav-link mx-2 text-light" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="nav-link mx-2 text-light" href="{{ url_for('login') }}">Login</a>
                <a class="nav-link mx-4 text-light" href="{{ url_for('register') }}">Sign Up</a>
                <a id="active" class="nav-link mx-2 text-light" href="{{ url_for('game') }}">Game</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>
<div class="container pt-3 d-block">
    <h1 class="mt-4 mb-2 text-center">Create Your Password!</h1>
    <br>
    <script>
        const rules = {{ rules | tojson }};
        window.rules = rules; // Make it available to JS modules
    </script>
    <form method="POST">
        <textarea name="password" id="enter-password" placeholder="Enter Password" rows="1"></textarea>
        <input type="submit" value="Create Password" id="password">
    </form>
    <div id="rules-list"></div>
    <script>
        // Function to auto-expand the textarea as you type
        const textarea = document.getElementById('enter-password');
        textarea.addEventListener('input', () => {
            textarea.style.height = 'auto';
            textarea.style.height = `${textarea.scrollHeight}px`;
        });
    </script>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>
</div>
{% endblock %}
