{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg text-muted bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="margin-left: -1%;">
            <img src="{{ url_for('static', filename='logo.jpg') }}" width="60" height="60" class="d-inline-block align-top" alt="logo">
        </a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a id="active" class="nav-link mx-4 text-light" href="{{ url_for('home') }}">Home</a>
            {% if 'user' in session %}
                <a class="nav-link mx-2 text-light" href="{{ url_for('game') }}">Play Again</a>
                <a class="nav-link mx-4 text-light" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                <a class="nav-link mx-2 text-light" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="nav-link mx-2 text-light" href="{{ url_for('login') }}">Login</a>
                <a class="nav-link mx-4 text-light" href="{{ url_for('register') }}">Sign Up</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>

<main class="container mt-4">
    <h2>Welcome to YNCA's Password Game!</h2>
</main>
{% endblock %}
